manifest {
    homePage = 'http://nextflowtemplate.com'
    description = 'Nextflow pipeline template '
    mainScript = 'main.nf'
    version = '0.1.0'
}

profiles {
    template {
        includeConfig 'conf/template.config'
    }

    sradownlaod {
        process.container = 'najlabioinfo/sra'
        docker.enabled = true
        docker.cacheDir = "$PWD"
    }
}